---
layout: blog
title: Game Dev Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <article>
        <h1>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date: "%Y/%m/%d" }}">{{ post.date  | date_to_string }}</time>
        </h1>
        <div class="content">
            {% if post.image %}
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ post.url }}">
                        <img src="{{ post.image }}" />
                    </a>
                </div>
                <div class="col-md-9">
                    {{ post.content | strip_html | truncatewords:75 }}
                </div>
            {% else %}
                {{ post.content | strip_html | truncatewords:75 }}
            {% endif %}
        </div>
        <a class="btn btn-sharp btn-sm hvr-push" href="{{ post.url }}">Read More</a>
    </article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous hvr-push">&#8249;</a>
  {% else %}
    <span class="previous hvr-push">&#8249;</span>
  {% endif %}
  <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next hvr-push">&#8250;</a>
  {% else %}
    <span class="next hvr-push">&#8250;</span>
  {% endif %}
</div>

