<head>
    <!-- Fun Stuff! -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="google-site-verification" content="p1mSsTQKTBPCQYTaiKcwBJ9t8n9sgQ1g2lQ--ozQhtM" />

	<!-- Styles -->
	<link rel="stylesheet" href="/css/main.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/favicon.ico">

    <!-- Javascript -->
    <script src="/js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- SEO -->
    <title>{{ page.title }} &middot; {{ site.title }}</title>
	<meta name="author" content="Brad Keys" />
	<meta name="copyright" content="&copy; {{ site.time | date: '%Y' }} Brad Keys" />
	<meta name="description" content="Game development blog &amp; portfolio." />
	<meta name="keywords" content="programming, programmer, Lumos, analytics, Unity3d, Unity, Brad Keys,
	Bradley Keys, Game Design, VFS, rebel hippo, rebelhippo, just pretend, orbert, canada,
	ontario, kitchener, waterloo, toronto, velocity, contract, consulting, consultant, game industry,
	virtual reality, vr, augmented reality, ar"
	/>
</head>
