---
layout: default
---

{% assign project = site.data.portfolio[page.title] %}

<div id="project-page">
    <h1>{{ page.title }}</h1>
    <h2>{{ project.company }} ({{ project.year }})</h2>
    <h3><em>{{ project.role }}</em></h3>
    <br />
    {% if project.video %}
        <div id="video-outer">
            <div id="video-inner">
                <iframe src="{{ project.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    {% endif %}
    <div class="gallery">
        {% for image in project.images %}
    	    <a class="hvr-grow swipebox" href="/img/portfolio/{{ image }}">
        		<img src="/img/portfolio/{{ image }}" />
        	</a>
    	{% endfor %}
    </div>
    {% if project.website %}
    <div id="project-website">
        <h4>Website</h4>
        <a href="{{ project.website }}">
            {{ project.website | remove: 'http://' | remove: 'https://' }}
        </a>
    </div>
    {% endif %}
    <div id="platforms">
        {% for platform in project.platforms %}
            <a class="hvr-grow" href="{{ platform[1] }}">
                {% if platform[0] == 'iOS' %}
                    <img src="/img/badges/iOS.svg" />
                {% elsif platform[0] == 'Google Play' %}
                    <img src="/img/badges/GooglePlay.png" />
                {% elsif platform[0] == 'Web' %}
                    <img src="/img/badges/Web.png" />
                {% elsif platform[0] == 'Steam' %}
                    <img src="/img/badges/steam.png" />
                {% endif %}
            </a>
        {% endfor %}
    </div>
    {% if project.summary %}
        <div id="project-summary">
            <h4>SUMMARY</h4>
            {{ project.summary }}
        </div>
    {% endif %}
    <hr />
    <div id="project-story">
        <h4>EXPERIENCE</h4>
        {{ page.content }}
    </div>
    {% if project.blog-posts %}
        <hr />
        <div id="project-blog-posts">
            <h4>Related Blog Posts</h4>
            <ul>
            {% for post in project.blog-posts %}
                <li>
                    <a href="{{ post[1] }}">
                        {{ post[0] }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif%}
</div>

<script src="/js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
;( function( $ ) {
	$( '.swipebox' ).swipebox();
} )( jQuery );
</script>
